*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    background: black;
}body, html{
overflow-x: hidden;
}
a{
    text-decoration: none;
    

}.line{
    width: 150px;
    height: 4px;
    background: rgb(242, 75, 75);
    margin: 10px auto;
    border-radius: 5px;

}.ctn{
    padding: 8px 35px;
    background: rgb(234, 57, 57);
    border-radius: 30px;
    color: whitesmoke;
   
}

/*Navbar*/

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    backdrop-filter: blur(20px);
   
}.navbar a{
        text-decoration: none;
        color: aliceblue;
        font-weight: bold;
}ul{
    list-style: none;
}.nav-links{
    display: flex;
    align-items: center;

}.nav-links li{
    margin: 0 30px;

}.active{
    color: rgb(238, 35, 35);
    text-decoration: underline;
    font-weight: bold;
}.navbar h1{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}.nav-links .ctn {
    transition: 0.4s;
    cursor: pointer;
}.navbar .ctn:hover{
    background-color: rgb(0, 209, 209);
    color: black;
   
    
}



.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/*Mobile devices*/
@media only screen and (max-width:850px){

    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position:absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(68, 40, 40);
        margin-top: -900px;
        transition: all 0.2s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
        border-bottom-left-radius: 30%;
     
    }
    .nav-links li{
        margin-top: 30px;

    }
    .col-sm-6 {
        margin-bottom: 20px;
    }.footer .row .col-sm-6 {
        margin-left: 25px;
      }.footer{
       display: none;

      }
}


/*popular*/


section{
    width: 80%;
    margin: 80px auto;
    
    
    
}
.title{
    text-align: center;
    font-size: 5vmin;
}.popular .line{
    margin-bottom: 5%;
}.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}.row .col-sm-6 {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.row .col-sm-6 img {
    width: 80%;
 }
 .popular .row{
    margin-top: 50px;
 }
 .popular h2{
    color: red;
    font-weight: bold;
    font-size: 4vmin;
    margin: 20px auto;
 }
 .popular .ctn{
    margin-top: 20px;
 }

 /*explore*/

 .explore{
    width: 100%;
    height: 100vh;
    background-image: url(bg4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
 }
 .explore-content{
    width: 100%;
    padding: 50px;
 }.explore-content h1{
    color: rgb(233, 224, 224);
    font-weight: bold;
    font-size: 6vmin;
    margin: 10px;
 }.explore-content p{
    color: antiquewhite;
   margin-top: 40px;
    margin-left: 10px;
 }
 .back-video{

    display: flex;
    align-items: flex-end;
    justify-content: center;

 }.hero video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 5%;
    transform: translate(-50%, -50%);
    z-index: -1;
    
 }

 /*MAO NI ANG CSS SA FOOTER PINAKA BABA*/
.footer{
    width: 100%;
    min-height: 100px;
    padding: 5px 80px;
    margin: 0;
    background: rgb(52, 42, 42);
    text-align: center;
    margin-top: 45%;
 }.footer p{
    color: whitesmoke;
    margin: -10px auto;
    padding: 20px auto;
    display: flex;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
 }.footer h1{
    color: whitesmoke;
    font-weight: bolder;
    font-size: 10vmin;
    display: flex;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    
 }.footer .col-sm-2{
    padding-top: 50px;
    text-align: center;
    
 }.footer .col-sm-2 p{
   cursor: pointer;
   width: auto;
   transition: .4s;
    
 }.footer .col-sm-2 p:hover{
    color: red;
 }.footer .col-sm-6{
    margin-left: -190px;
 }

 .icons ion-icon{
    color: #ededed;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
    justify-content: space-between;
    margin-top: 5px;
    width: 7%;
    margin-bottom: 20px;
}
.icons ion-icon:hover{
    color: rgb(240, 32, 32);
}
